<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mybatis.mappers.BoardMapper">
<!-- 	<insert id="insert" parameterType="BoardVO"></insert> -->
	<select id="select" parameterType="int" resultType="BoardVO">
		SELECT *
		FROM FREEBOARD
		WHERE BO_NO = #{boNo}
	</select>
<!-- 	<select id="selectTotalRecord" parameterType="PaginationInfo" resultType="int"></select> -->
<!-- 	<select id="selectList" parameterType="PaginationInfo" resultType="BoardVO"></select> -->
<!-- 	<update id="udpate" parameterType="BoardVO"></update> -->
<!-- 	<delete id="delete" parameterType="int"></delete> -->
	
</mapper>